[Desktop Entry]
Type=Application
Version=1.0
Name=ptask
GenericName=ptask
Comment=ptask is a task management tool based on taskwarrior
Keywords=task;note;taskwarrior;
Icon=ptask
TryExec=ptask
Exec=ptask
Categories=Utility;

